h1{
  font-size: 50px
  color: #ff0000;
  font-family: sans-serif;
}

h2, h3, h4{
  font-size: 40px
  color: #0000ff;
  font-family: sans-serif;
}


  /*
  Kommentar
  Kommentar 2
  */
